<span>{{project.title}}</span><br>

<label>Link for prioritization: </label>
<a href="{{prioLink}}" style="margin-bottom: 20px">{{prioLink}}</a><br>



<label>Current prioritization:</label>
<span style="margin-left: 10px">{{project.status}}</span><br>
<ol>
<div *ngFor="let item of project.weightedItems" style="padding: 2px">

  <li ><span style="padding-right: 5px">{{item}}</span></li>
</div>
</ol>




<button (click)="refreshProject()">Refresh</button>


<button (click)="prioritizeProject()" style="margin-left: 10px">Prioritize</button>
